<!DOCTYPE html>
<html>
  <title>Index</title>
    <body>

    <head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

    <div class="jumbotron text-center">
      <h1>Problem Set 1</h1>
    </div>



    </body>

<!--    <h1>Problem Set 1</h1>-->
    <%= link_to "Divide-by-zero Exception", basics_divide_by_zero_path %>



    <div style="position: relative;background-color: white; width: 600px; height: auto;">
<p>    Firstly, we wrote a divide by zero error in exception_controller.rb and generate a static controller. Therefore, added the HTML page under the view of that static controller. And then we edited the routes.rb file in order to show the view of the static and link to the divide by zero error.
</p>

    </div>

    <%= link_to "Google News", basics_news_path %>


    </body>
</html>