<!DOCTYPE html>
<html>
<title>Index</title>
<body>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Problem Set 1</h1>
</div>

<div class="container">
  <a href="https://docs.google.com/document/d/1qPor1BXdV6l42qDuNqulvEyWkesTc8xjSxri0gpuamE/edit?usp=sharing"
     class="btn btn-primary" role="button" target="_blank">Web 15's project evaluation</a>
</div>

<hr>

<div class="container">
  <a href="https://docs.google.com/document/d/1eJF-LYT50r6tPT5YrUk3Ex1duCm-gsEfYa_he9t2cyc/edit?usp=sharing"
     class="btn btn-primary" role="button" target="_blank">Web 19's project evaluation</a>
</div>

<hr>

<div class="container">
  <a href="https://docs.google.com/document/d/15vjigUemG8GTGSw2LHPuWpOkPkeejxB7nE_g8Mko1Pw/edit?usp=sharing"
     class="btn btn-primary" role="button" target="_blank">Users feedback to Web 16</a>
</div>

<hr>

<div class="container">
  <a href="https://docs.google.com/document/d/193RRNKh6yBae3tgIQS1nhCyzPQQXNcy4QckX4n3y_2E/edit?usp=sharing"
     class="btn btn-primary" role="button" target="_blank">Evaluation Summary</a>
</div>




</div>

</body>



</body>
</html>