<!DOCTYPE html>
<html>
<title>Index</title>
<body>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Project Plan</h1>
</div>

<div class="container">
  <hr>
  <h2>Overview</h2>
      <p>Our project is a web interface that will provide the ability to view and manage a fleet of drones in real time. The purpose of this is to automate the control of drones by letting the web app take care of the commands sent to and from the drones.
      </p>

  <hr>

  <h2>Users</h2>
  <div class="container">
    <%= link_to "user1", ps3_project_plan_user1_path %>
    <%= link_to "user2", ps3_project_plan_user2_path %>
  </div>
  <hr>

  <h2>Smartphone Application</h2>
  <p>Ipsum</p>

  <hr>
</div>
</body>



</body>
</html>