<!DOCTYPE html>
<html>
<title>Index</title>
<body>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Project Plan</h1>
</div>

<div class="container">
  <hr>
  <h2>Overview</h2>
  <p>Our project is a web interface that will provide the ability to view and manage a fleet of drones in real time. We want people who visit our web-app to be satisfied with our project's goal and at least praise us for making a free app.</p>
  <p>Our project will provide a base application for a more comprehensive app in the future that will include drone command and control as well as some commercial management. </p>
  <p>More specialized apps will also be created for specialized jobs such as mail delivery or farm observation. These can even be enterprise applications written specially for companies.</p>
  <hr>

  <h2>Sample Users</h2>

  <p>There will only be one class of users and that is basically everyone who has created an account. Only registered and verified users will be able to access this application since it will allow control of a drone, a physical, moving drone.</p>
  <p>The level of interactions of the user increase from user 1 to user 3.</p>
    <div class="container">

      <a href="project_plan/user1" class="btn btn-primary" role="button">Professional Users such as Logistics Company</a>
      <br>
      <br>
      <a href="project_plan/user2" class="btn btn-primary" role="button">None Professional Home User</a>
    </div>

  <hr>

  <h2>Smartphone Application</h2>
  <p>A dedicated mobile application will be developed in the future for use in conjunction with the web application. The web application will provide a REST API for the mobile client to make requests.</p>

  <hr>
</div>
</body>



</body>
</html>