<!DOCTYPE html>
<html>
<title>Index</title>
<body>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Non Professional Home User</h1>
  <p>This type of user will just use this application for personal non-commercial use. </p>
</div>

<div class="container">
  <h2>Cristiano Ronaldo</h2>

  <img src="http://2.bp.blogspot.com/-PGA8jn3WdMU/Uc-IgtfXu9I/AAAAAAAAB80/jg9kc8H7WW0/s324/Cristiano+Ronaldo+Profile+And+Biography.jpg" class="circle" alt="Cinque Terre" width="304" height="236">
</div>

<div class="container">
  <hr>
  <h2>Personal Information</h2>
  <p>Age : 30</p>
  <p>Occupation : Footballer</p>
  <p>Marital Status : Occupied</p>
  <p>Housing Situation: Unknown</p>
  <p>Income : $100k per month</p>

  <hr>

  <h3>Short-term Goal</h3>
  <p>Track the drone’s location portably and locally.</p>

  <h3>Long-term Goal</h3>
  <p>Monitor the drone status and remote location.</p>
  <p>Control the drone</p>
  <hr>

  <h3>User's Question</h3>
  <p>How is this app differ from controlling drones with only controller</p>

  <hr>
  <h3>User's electronic equipments</h3>
  <p>Top tier PC with fast fiber connection</p>
  <hr>

  <h3>Additional Information</h3>
  <p>Richest person in the world.</p>
  <p>Drone enthusiast</p>
</div>
</body>



</body>
</html>