<!DOCTYPE html>
<html>
<title>Index</title>
<body>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>




  <div class="jumbotron text-center">
    <h1>Documentation</h1>
  </div>

  <div class="container">
    <hr>
  <h2>How to prevent SQL injection and XSS attacks</h2>
  <p>In order to prevent sql injection, we could use validation in MySQL's function so that users can only use required characters in a particular field such as only digits are allowed in phone number field.
    We have to update our database system to latest as soon as possible. And using web application firewall could help preventing sql injection. </p>
    <p>Just like sql injection, XSS attacks can be prevented by using validation. Moreover, we can use sanitization and escaping functions in application to avoid XSS attacks. </p>

  </div>

  <div class="container">
    <hr>
    <h2>User Data Model</h2>
    <p>Basic user data will be stored, such as email, username, full name and of course, password.</p>
    <hr>
    <%= image_tag("Drone_tracker.png", :alt => "rss feed") %>
  </div>

  <div class="container">
    <hr>
    <h2>Management Page Flow</h2>
    <img src="https://docs.google.com/uc?id=1eITaIBrgEf33FrnqZHuAZzzmHh7k1482">
    <hr>
  </div>

</body>
