<!DOCTYPE html>
<html>
<title>Index</title>
<body>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Flow Control</h1>
</div>


<!--<div class="container">-->
<!--  <a href="ps3/documentation" class="btn btn-primary" role="button">Documentation</a>-->
<!--</div>-->

</body>



</body>
</html>

<div class="container">
  <h2>Flow Control</h2>
  <h3>User</h3>
  <p>User can register through the web application and after registration they can register for the drones. User can register for multiple drones. User can also edit the name of the drones and delete it from the database. </p>
  <hr>
  <h3>Drone</h3>
  <p>After drone registration, the web app will save drone’s status such as altitude, coordinates, battery and data/time as drone’s logs every 10 seconds. These logs can be viewed on the map.
  </p>
  <hr>
  <h3>Forum</h3>
  <p>User can create articles and add comments on a particular article. Admin can delete those articles. </p>
</div>