<!DOCTYPE html>
<html>
<title>Index</title>
<body>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>




<div class="jumbotron text-center">
  <h1>Documentation</h1>
</div>

<div class="container">
  <h2>Versioning</h2>
  <p>We can divide our web-app into 3 versions.</p>
  <h3> 0.1</h3>
  <p>The first version will contain user registration and sign up.   </p>
  <h3> 0.2</h3>
  <p>Likewise, the second version will have drone registration and sign up.</p>
  <h3> 0.3</h3>
  <p>The third version, we will add the drone tracking simulation function.</p>
  <h3> 0.4</h3>
  <p>We will implement a mini drone-forum.</p>
  <h3> Later Version</h3>
  <p> Moreover, we can have addition version containing drone mission creating function as optional.</p>
</div>